<html>

<head>
    <title> Memestagram </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../CSS/styles.css">

    <script>
        $(document).ready(() => {
            {{#if register_error}}
                $("#modalRegisterForm").modal("show"); 
                $("#register_error").removeAttr("hidden");
            {{/if}}
            
            {{#if login_error}}
                $("#modalLoginForm").modal("show");
                $("#login_error").removeAttr("hidden");
            {{/if}}
            
            {{#if signup_first}}
                $("#modalLoginForm").modal("show");
            {{/if}}
    
        });

    </script>
    
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar sticky-top navbar-dark bg-dark">
        <a class="navbar-brand" href="/"><i class="fab fa-instagram"></i> Memestagram </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
        <ul class="navbar-nav mr-auto">
            
            </ul>
         <form class="form-inline my-2 my-lg-0" action="../meme/search" method="get">
                <input class="form-control mr-sm-2" placeholder="Search" aria-label="Search" id="searchbar" name="search_item">
                <button class="btn btn-dark" id="search_btn"> 
                    <i class="fas fa-search"></i>
                </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            
            <form class="form-inline my-2 my-lg-0">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalLoginForm">
                    <i class="fas fa-sign-in-alt"></i>
                    Login
                </button>
                <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#modalRegisterForm">
                    <i class="fas fa-clipboard-list"></i>
                    Register
                </button>
            </form>
        </div>
        </form>
    </nav>
    
    <section id="section">
        <!--array block-->
        {{#each_upto memes limit}}
            {{#ifCond this.type "Public"}}
            <div class="posts">
                <a data-toggle="modal" data-target="#post{{_id}}" >
                    {{title}}
                    <img src="../meme/photo/{{_id}}"/> <!--/image/-->
                </a>
            </div>
            {{/ifCond}}
        {{/each_upto}}
        <a href="../meme/more"> 
            <div class="more"> 
                <center> View More </center>
            </div>
        </a>
    </section>
    
    <center>
        <div class="footer">
            © 2018 Memestagram | <a href="../about">About Us</a>
        </div>
    </center>
    
    <!--MODALS-->
    <!--Post for Modals-->
    {{#each memes}}
    <div class="modal fade" id="post{{_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" name="view">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{title}}</h5>
                </div>
                <div class="modal-body row">
                    <i> <a href="../user/account?other_user={{owner}}" style="color:black" class="user">@{{owner}}</a> </i>
                    <img src="../meme/photo/{{_id}}"/>
                        <div class="tags">
                            Tags:
                    {{#each tags}}
                            <a href="../meme/search?search_item={{this}}" style="color:black">#{{this}}</a>
                        </div>
                    {{/each}}
                </div>
                <div class="modal-footer">
                    <form action="/upvoteMeme" method="post">
                       <button type="submit" class="btn btn-basic btn-sm"><span class="fas fa-chevron-circle-up"> </span>Upvotes: {{upvotes}}</button>
                        <input id="viewid" type="hidden" name="id" value="{{_id}}">
                    </form>
                    <form action="/downvoteMeme" method="post">
                        <button type="submit" class="btn btn-basic btn-sm"><span class="fas fa-chevron-circle-down"></span>Downvotes: {{downvotes}}</button>
                        <input id="viewid" type="hidden" name="id" value="{{_id}}">
                    </form>
                </div>
            </div>
        </div>
    </div>
    {{/each}}

    <!--LOGIN FORM-->
    <form action="../user/login" method="post">
        <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold">Sign in to view all the memes</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                    </div>
                    <div class="modal-body mx-3">
                        <div class="md-form mb-3">
                            <i class="fa fa-envelope prefix grey-text"></i>
                            <label data-error="wrong" data-success="right" for="defaultForm-email"> Email</label>
                            <input type="email" id="defaultForm-email" class="form-control validate" name="email">
                        </div>
                        <div class="md-form mb-2">
                            <i class="fa fa-lock prefix grey-text"></i>
                            <label data-error="wrong" data-success="right" for="defaultForm-pass"> Password</label>
                            <input type="password" id="defaultForm-pass" class="form-control validate" name="password">
                        </div>
                        <div class="custom-control custom-checkbox my-1 mr-sm-2">
                            <input type="checkbox" class="custom-control-input" id="customControlInline" name="remember">
                            <label class="custom-control-label" for="customControlInline">Remember me </label>
                        </div>
                        <div class="alert alert-danger" id="login_error" hidden>
                            Username/password does not match
                        </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <input class="btn btn-primary" type="submit" value="Login" />
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!--REGISTER-->
    <form action="../user/signup" method="post">
        <div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold">Sign up</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                    </div>
                    <div class="modal-body mx-3">
                        <div class="md-form mb-4">
                            <i class="fa fa-user prefix grey-text"></i>
                            <label data-error="wrong" data-success="right" for="orangeForm-name"> Name</label>
                            <input type="text" id="orangeForm-name" class="form-control validate" name="name">

                        </div>
                        <div class="md-form mb-4">
                            <i class="fa fa-envelope prefix grey-text"></i>
                            <label data-error="wrong" data-success="right" for="orangeForm-email"> Email</label>
                            <input type="email" id="orangeForm-email" class="form-control validate" name="email">
                        </div>

                        <div class="md-form mb-4">
                            <i class="fa fa-lock prefix grey-text"></i>
                            <label data-error="wrong" data-success="right" for="orangeForm-pass"> Password</label>
                            <input type="password" id="orangeForm-pass" class="form-control validate" name="password">
                        </div>

                        <div class="md-form mb-3">
                            <i class="fas fa-address-card prefix grey-text"></i>
                            <label data-error="wrong" data-success="right" for="orangeForm-name">Short Description</label>
                            <input type="text" id="orangeForm-description" class="form-control" name="description">
                            <small id="tagsHelpBlock" class="form-text text-muted">
                              Optional
                            </small>
                        </div>
                        
                        <div class="alert alert-danger" id="register_error" hidden>
                            Email already associated with another account
                        </div>
                        
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <input class="btn btn-primary" type="submit" value="Sign up" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>


</html>
